body {
    font-family: sans-serif;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin: 20px 0;
}

input, button {
    font-family: sans-serif;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    background: #f9f9f9;
    border-radius: 5px;
}

.result-group div {
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    input, button {
        max-width: 100%;
    }
}
